@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    label {
        @apply text-gray-400;
    }
}

@layer utilities {
  .bg-black-to-navy {
    background-image: linear-gradient(to bottom right, #000000, #191932);
  }
}

body {
  @apply font-sans bg-black-to-navy;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main-content {
  @apply p-20;
}